.cards__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  padding: 1em;
  max-width: 350px;
  border: #535bf2 3px solid;
  border-radius: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.card__img {
  width: 70%;
  height: auto;
}